@import 'variable.scss';
@import 'computer.scss';
@import 'moilbe.scss';

* {
  box-sizing: border-box;
  // outline: 1px solid red;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #999999;
}
li {
  font-family: $fonttype;
}
p {
  font-family: $fonttype;
  font-size: $fontsize10;
  color: $fontpcolor;
}


